/* Enable dark mode */
html {
    color-scheme: light dark;

    background-color: Canvas;
    color: CanvasText
}

body {
    /* Set line height to 1.5 times the font size and use the OS's UI font as the website font (from lab)*/
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1.5rem 1rem;
}

h1 {
    margin-bottom: 1em;
}

/* yearSlider formatting*/
.controls {
    margin-bottom: 1.5em;
}

/* heatmap svg object formatting */
svg {
    border: 1px solid #ccc;
    background: #fff;
}